* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,body {
    background-color: #1e3954;
    height: 100%;
    display: flex;
    justify-content: center;
}
.error{
    color:"red";
}
.databox {
    width: 600px;
}
.useroptions
{
    width: 175px;
    height: 30px;
    margin-left: 20px;
}
h1
{
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
h2 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.databox form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}
table
{
color: #ffffff;
}
td
{
    height: 40px;
}
input[type="text"],input[type="date"],select,textarea {
    width: 310px;
    height: 30px;
    margin-left: 20px;
}
#submitBtn{
    width: 40%;
    padding: 15px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
#resetBtn{
    width: 40%;
    padding: 15px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #ff0000;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
#submitBtn:hover {
  background-color: #2868c7;
    transition: background-color 0.2s;
}
#getBtn
{
    height: 30px;
    width: 30%;
    margin-left: 5px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
#getBtn:hover {
    background-color: #2868c7;
      transition: background-color 0.2s;
}
#updatebtn
{
    width: 310px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 150px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
#updatebtn:hover {
    background-color: #2868c7;
      transition: background-color 0.2s;
}
#deletebtn
{
    width: 310px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 150px;
    background-color: #e7160c;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
#deletebtn:hover {
    background-color: #ff0000;
      transition: background-color 0.2s;
}
#errorid,#errorname,#errorage,#errordoa,#errorrtype,#errorstate,#errorcity,#erroradrs
{
    height:0px;
    padding-left: 21px;
}
.dummytd
{
    height:0px;
}
#patientstbl {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
  }
  #patientstbl.center{
      margin-left: auto;
      margin-right: auto;
  }
  
  #patientstbl td, #patientstbl th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #patientstbl tr{color:#3274d6;}

  #patientstbl tr{background-color: #f2f2f2;}
  
  #patientstbl tr:hover {background-color: #ddd;}
  
  #patientstbl th {
    padding:10px 10px 10px 10px;
    text-align: center;
    background-color:#3274d6;
    color: white;
  }
.viewbox {
    width: 800px;
}
.useroptions
{
    align-items: center;
    justify-content: center;
}
.options
{
    align-items: center;
    justify-content: center;
}
.hidden{display:none;}
